{{ define "pagination" }}
<nav>
	{{ if ne .CurrentPage 1 }}
		<a href="?page={{ before .CurrentPage }}">Précédent</a>
	{{ else }}
		<p></p>
	{{ end }}
		<p>{{ .CurrentPage }}/{{ .PagesNumber }}</p>
	{{ if ne .CurrentPage .PagesNumber }}
		<a href="?page={{ next .CurrentPage }}">Suivant</a>
	{{ else }}
		<p></p>
	{{ end }}
</nav>
{{ end }}
{{ define "article_card" }}
<article class="large">
	<figure>
		<a href="{{ .URI }}"><img src="{{ static .Image.Src }}" alt="{{ .Image.Alt }}" /></a>
		<figcaption>{{ .Image.Legend }}</figcaption>
	</figure>
	<div>
		<h3><a href="{{ .URI }}">{{ .Title }}</a></h3>
		<p>{{ .Description }}</p>
	</div>
</article>
{{ end }}
{{ define "section_pagination" }}
<div class="pagination">
	{{ if .Paginate }}
		{{ template "pagination" . }}
	{{ else }}
		{{ if eq (len .Articles) .LenMax }}
			<a href="/{{ .URI }}/">Voir plus</a>
		{{ end }}
	{{ end }}
</div>
{{ end }}
{{ define "section_display--no-first" }}
<article class="article__list">
	{{ range .Articles }}{{ template "article_card" . }}{{ end }}
	{{ template "section_pagination" . }}
</article>
{{ end }}
{{ define "section_display" }}
<article class="article__list">
	{{ $first := first .Articles }}
	<article>
		<h3><a href="{{ $first.URI }}">{{ $first.Title }}</a></h3>
		<figure>
			<a href="{{ $first.URI }}"><img src="{{ static $first.Image.Src }}" alt="{{ $first.Image.Alt }}" /></a>
			<figcaption>{{ $first.Image.Legend }}</figcaption>
		</figure>
		<p>{{ $first.Description }}</p>
	</article>
	{{ range queue .Articles }}{{ template "article_card" . }}{{ end }}
	{{ template "section_pagination" . }}
</article>
{{ end }}
