{{ define "pagination" }}
  <nav>
    {{ if ne .CurrentPage 1 }}
      <a href="?page={{ before .CurrentPage }}">Précédent</a>
    {{ else }}
      <p></p>
    {{ end }}
    <p>{{ .CurrentPage }}/{{ .PagesNumber }}</p>
    {{ if ne .CurrentPage .PagesNumber }}
      <a href="?page={{ next .CurrentPage }}">Suivant</a>
    {{ else }}
      <p></p>
    {{ end }}
  </nav>
{{ end }}
{{ define "data_display" }}
  <article class="large">
    <figure>
        <a href="/{{ .URI }}/{{ .Slug }}"><img src="{{ static .Img.Src }}" alt="{{ .Img.Alt }}" /></a>
      <figcaption>{{ .Img.Legend }}</figcaption>
    </figure>
    <div>
      <h3><a href="/{{ .URI }}/{{ .Slug }}">{{ .DataTitle }}</a></h3>
      <p>{{ .Description }}</p>
    </div>
  </article>
{{ end }}
{{ define "section_pagination" }}
    <div class="pagination">
      {{ if .Paginate }}
        {{ template "pagination" . }}
      {{ else }}
        {{ if eq (len .Data) .LenMax }}
          <a href="/{{ .URI }}/">Voir plus</a>
        {{ end }}
      {{ end }}
    </div>
{{ end }}
{{ define "section_display--no-first" }}
  <article class="article__list">
    {{ range .Data }}
      {{ template "data_display" . }}
    {{ end }}
    {{ template "section_pagination" . }}
  </article>
{{ end }}
{{ define "section_display" }}
  <article class="article__list">
    {{ $first := firstData .Data }}
    <article>
      <h3>{{ $first.DataTitle }}</h3>
      <figure>
        <a href="/{{ .URI }}/{{ $first.Slug }}"><img src="{{ static $first.Img.Src }}" alt="{{ $first.Img.Alt }}" /></a>
        <figcaption>{{ $first.Img.Legend }}</figcaption>
      </figure>
      <p>{{ $first.Description }}</p>
    </article>
    {{ range restData .Data }}
      {{ template "data_display" . }}
    {{ end }}
    {{ template "section_pagination" . }}
  </article>
{{ end }}
