{{define "body"}}
<div class="introduction">
    <h1>logs</h1>
    <p>
        {{ .Description }}
    </p>
</div>
<article>
    <article>
        <h2><a href="log.html">Article title</a></h2>
        <figure>
            <a href="log.html"><img src="https://placehold.co/1920x1080" alt=""></a>
            <figcaption>A placeholder.</figcaption>
        </figure>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim aeque doleamus animo, cum corpore dolemus, fieri tamen permagna accessio potest, si aliquod aeternum et infinitum impendere malum nobis opinemur.
        </p>
    </article>
    <article>
        <h2><a href="log.html">Article title</a></h2>
        <figure>
            <a href="log.html"><img src="https://placehold.co/1920x1080" alt=""></a>
            <figcaption>A placeholder.</figcaption>
        </figure>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim aeque doleamus animo, cum corpore dolemus, fieri tamen permagna accessio potest, si aliquod aeternum et infinitum impendere malum nobis opinemur.
        </p>
    </article>
    <div class="pagination">
        <a href="">Précédent</a>
        <p>01/15</p>
        <a href="">Suivant</a>
    </div>
</article>
{{end}}